@model ConsultaCRUD.Models.Consulta


@{
    ViewBag.Title = "SMC | Consulta ";
}

<h2 style="color: Highlight" >Editar Consultas Agendadas</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_consulta)

        <div class="form-group">
            @Html.LabelFor(model => model.Id_paciente, "Nome Paciente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_paciente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_paciente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_exame, "Nome Exame", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_exame", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_exame, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data_consulta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data_consulta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data_consulta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Concluir" class="btn btn-success" />
            </div>
        </div>
    </div>
}

    <div>
        <p style="text-align:right">
            @Html.ActionLink("Lista de Consultas", "Index", "", new { @class = "btn btn-info" })
        </p>
     </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
